.top-banner{
    width: 100%;
    background-color: white;
    border:gray;
    clear:both;
    margin-bottom:40px;
}

.h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.link{
    float:right;
    text-decoration: none;
    margin-top:40px;
    margin-left:20px;
}

.your-name{
    background-color:#4aaaa5;
    color:white;
    padding:20px;
    float:left;
    font-size:0.5in;
    font-weight: bold;
    margin-left:10px;
}

.about-me{
    clear:both; 
    width:960px;
    margin:auto;
    background-color:white;
    height:540px;
    margin-bottom:10px;
    border-color: #dddddd;
    border: 5in;
}

.container{
    background-color:white;
    width:960px;
    margin:auto;
    overflow:auto;
}

.header{
    font-size: 0.5in;
    margin-left:10px;
    color:#4aaaa5;
    padding:20px;
    border-bottom-color: gray;
    background-color:#ffffff;
}

.hr{
    margin-left:30px;
    margin-right:30px;
    margin-bottom:30px;
    color:#777777;
}

.p{
    margin-left:30px;
    margin-right:30px;
    margin-bottom:10px;
    padding:5px;
    line-height:30px;
    font-size:large;
    font-family:Arial, Helvetica, sans-serif;
    color:#777777;
}

.c-head{
    font-family: Arial, Helvetica, sans-serif;
    line-height:40px;
    font-size:large;
    color:#777777;
}

#image{
    float:left;
    height:250px;
    width:250px;
    margin-left:30px;
    margin-right:30px;
}

.footer{
    clear:both;
    text-align: center;
    background-color: #666666;
    height:50px;
    border-top: 10px solid #4aaaa5;
    color:white;
    position:relative;
}

.footer-content{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

.content{
    min-height: calc(100vh - 70px);        
}

#form{
    margin-left:30px;
}

.message-box{
    width:95%;
    height:30px;
    clear:both;
}

#message-box{
    width:95%;
    height:200px;
    margin-bottom:10px;
}

#button{
    background-color:#4aaaa5;
    color:white;
    font-weight:bold;
    text-align:center;
    float:left;
    padding:10px;
    margin-bottom:10px;
    width:70px;
}

.contact-box{
    clear:both; 
    width:960px;
    margin:auto;
    background-color:white;
    overflow:auto;
    margin-bottom:30px;
}

.hr-contact{
    margin-right:45px;
}

.portfolio-box{
    clear:both; 
    width:960px;
    margin:auto;
    background-color:white;
    overflow: auto;
    margin-bottom:30px;
}

.image-container{
    height:200;
    width:250;
    
    margin-left:30px;
    margin-right:30px;
    margin-bottom:30px;
    float:left;
}

#one{
    background-image:url("/assets/images/psychic\ game.png"); 
}
#two{
    background-image:url("/assets/images/kitten.jpg");
}
#three{
    background-image: url("/assets/images/painting.jpg");
}
#four{
    background-image:url("/assets/images/wut.jpg");
}
#five{
    background-image:url("/assets/images/abstract-lighting.png");
}
#clear{
    clear:both;
}

.h2{
    text-align: center;
    background-color:#4aaaa5;
    color:white;
    padding:20px;
    margin-top:135px;
}

